@import organisms/sobre
@import molecules/textos

header
	background:
		image: url('../../images/binary-code-high-resolution-pictures.jpg')
		position: top center
		repeat: no-repeat
		color: $preto
		attachment: fixed
		size: cover
