@import organisms/sobre
@import molecules/textos

header
	background:
		image: url('http://placehold.it/1920x1080.png')
		position: top center
		repeat: no-repeat
		color: $preto
		attachment: fixed
		size: cover
